/.metadata/
/Servers
sgic-internal/defecttracker-service/target
sgic-internal/defecttracker-service/.classpath
sgic-internal/discovery-service/target
sgic-internal/discovery-service/.classpath
sgic-internal/edgee-service/target
sgic-internal/edgee-service/.classpath
sgic-internal/edge-service/target
sgic-internal/edge-service/.classpath
sgic-internal/employee-service/target
sgic-internal/employee-service/.classpath
sgic-internal/login-service/target
sgic-internal/login-service/.classpath
sgic-internal/product-service/target
sgic-internal/product-service/.classpath